@page
@model Insuranex.Pages.LandingPageModel



@{
    ViewData["Title"] = "Home page";
}

<style>
    img {
        border: 2px solid black;
        border-radius: 8px;
        max-width: 150%;
       
        width: 200px
    }
</style>

<partial name="_Notification">



    <div class="container">
        <br/>
        <br />

        <h2>Insuranex</h2>
        <p>An efficient policy management to serve customers effectively. Our website aims to revolutionize policy handling by providing agents with powerful tools and streamlined workflows. This application streamlines policy handling, enhances customer interactions, and simplifies administrative tasks, ultimately boosting overall operational efficiency.</p>
        <br />
        <br />

        <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <a asp-page="/Admin/Data/List_Policy" >
                        <img src="/icons/list.png" class="p-2 align-content-center"  >
                        <div class="caption">
                            <h2>Policy List</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <a asp-page="/Calender">
                        <img src="/icons/timetable.png" class="p-2 align-content-center">
                        <div class="caption">
                            <h2>Business Planner</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <a asp-page="/Index">
                        <img src ="/icons/presentation_1886824.png" class="p-2 align-content-center">
                        <div class="caption">
                            <h2>Policy Details</h2>
                        </div>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
    <br/>

    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="container">
                    <a asp-page="/Policy/PolicyExplainer">
                        <img src="/icons/video.png" class="p-2 align-content-center">
                        <div class="caption">
                            <h2>Product Explainer</h2>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="container">
                    <a asp-page="/Admin/Data/List">
                        <img src="/icons/customer.png" class="p-2 align-content-center">
                        <div class="caption">
                            <h2>Customer List</h2>
                        </div>
                    </a>
                </div>
            </div>

           

            <div class="col-md-4">
                <div class="container">
                    <a href="/Admin/Policy/PolicyFAQ">
                        <img src="/icons/faq.png" class="p-2 align-content-center">
                        <div class="caption">
                            <h2>FAQs</h2>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
   


  

