﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] InsuraNex</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InsuraNex.styles.css" asp-append-version="true" />
    <style>

        button {
            border: 1px solid white;
            background: white;
            transition: .4s all;
        }


            button:hover {
                background-image: none;
                transform: scale(1.1);
                font-weight: bold;
            }

        #regButton:hover {
            border: 1px solid white;
        }

        #loginButton:hover {
            border: 1px solid green;
        }

        #logoutButton:hover {
            border: 1px solid red;
            background-color: red;
            background: red;
            background-image: none;
        }
    </style>


    <link href='https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js'></script>


</head>

<body>

    <header >
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-brand bg-dark bg-gradient ">
            <div class="container py-2">
                <a class="navbar-brand text-white" asp-area="" asp-page="/Index">Insuranex</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse text-white collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item ">
                            <a class="nav-link text-white" asp-area="" asp-page="/LandingPage">Home</a>
                        </li>
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                           
                            <li class="nav-item dropdown">
                                <a class="nav-link text-white dropdown-toggle"
                                   href="#" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false" id="navbardropdown_admin">Admin</a>
                                <ul class="dropdown-menu" aria-labelledby="navbardropdown_admin">

                                    <li>
                                        <a class="dropdown-item" asp-page="/Admin/Data/AddData">
                                            Add Customer Data
                                        </a>

                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-page="/Admin/Data/List">
                                            Show Customer List
                                        </a>

                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-page="/Admin/Data/AddPolicyData">
                                            Add Policy Data
                                        </a>

                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-page="/Admin/Data/List_Policy">
                                            Show Policy List
                                        </a>

                                    </li>

                                </ul>
                            </li>

                        }
                        <li class="nav-item">
                            @if (signInManager.IsSignedIn(User))
                            {

                                <a class="nav-link text-white" asp-area="" asp-page="/Calender">Business Planner</a>
                               
                            }
                        </li>


                    </ul>
               
                       

                 
                    <div>
                        @if (signInManager.IsSignedIn(User))
                        {
                            <div class="me-3 text-light">
                                @User?.Identity?.Name


                                <a href="/Logout" class="btn btn-danger text-white me-3" id="logoutButton">Logout</a>

                            </div>
                        }
                        else
                        {

                         <a href="/Login"><button type="button" id="loginButton" class="btn btn-success">Login</button></a>

                            <a href="/register"><button type="button" id="regButton" class="btn btn-warning">Register</button></a>


                        }
                 </div>
                </div>
            </div>
        </nav>
    </header>

  

    <main role="main" class="pb-3" >
        @RenderBody()

    </main>

   @*  <footer class="border-top footer text-muted mb-1">
        <div class="container">
            &copy; 2024 - Insurance Agent - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>

    </footer> *@


    <footer class="text-white text-center text-lg-start" style="background-color: #23242a;">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row mt-4">
                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                    <h5 class=" mb-4">About company</h5>

                    <p>
                        “Insuranex” aims to provide a seamless and user-friendly experience for insurance agents, enabling them to focus more on their clients and less on administrative burdens. The project’s success is a testament to the collaborative efforts and innovative spirit of the development team.
                    </p>

                    <div class="mt-4">
                        <!-- Facebook -->
                        <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-facebook-f"></i></a>
                        <!-- Dribbble -->
                        <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-dribbble"></i></a>
                        <!-- Twitter -->
                        <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-twitter"></i></a>
                        <!-- Google + -->
                        <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-google-plus-g"></i></a>
                        <!-- Linkedin -->
                    </div>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    
                    <h5 class="mb-3" style="letter-spacing: 2px; color: white;">Contact</h5>

                    <ul class="fa-ul" style="margin-left: 1.65em;">
                        <li class="mb-3">
                            <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">K.Pudur,Madurai 625007, TN</span>
                        </li>
                        <li class="mb-3">
                            <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">infoinsuranex@samplemail.com</span>
                        </li>
                        <li class="mb-3">
                            <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+91-0123456788</span>
                        </li>
                        <li class="mb-3">
                            <span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2">+91-01234567889</span>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    
                    <h5 class="mb-3" style="letter-spacing: 2px; color: white;">Links</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" style="color: white;">Home</a>
                        </li>
                        <li class="mb-1">
                            <a href="#!" style="color: white;">Frequently Asked Questions</a>
                        </li>
                        <li class="mb-1">
                            <a href="/Index" style="color:white">Policy Details</a>
                        </li>
                        <li class="mb-1">
                            <a href="#!" style="color:white">Business Planner</a>
                        </li>
                        
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024 Copyright:
            <a class="text-white" href="/Index">Insuranex Home</a>
        </div>
        <!-- Copyright -->
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>